<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbName</key>
	<string>local.db</string>
	<key>dbVersion</key>
	<integer>19</integer>
	<key>dbTables</key>
	<array>
		<dict>
			<key>messageTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>Long Long</string>
				</dict>
				<dict>
					<key>m_chatId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>m_strOppositeSideName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>m_strMessageBody</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>m_isFromSelf</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>m_messageStatus</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>m_strTime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>m_oppositeChaterId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>m_contentType</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>m_chatType</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>mediaPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>duration</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>timeTitleState</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>belongToDuration</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>msgId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>fileId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isNeedTop</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>contactGroupTable</key>
			<array>
				<dict>
					<key>groupId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>id</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>groupName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>hasshortdn</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>schoolname</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>role</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>newclassid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>studentnum</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>contactGroupMemeberTable</key>
			<array>
				<dict>
					<key>groupId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>mid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>remoteId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>role</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>dn</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>shortdn</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>studentid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>studentname</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>student_relation</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isOpen_phone</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>userName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>passWord</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>userType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>headUrl</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>educationProtalsTable</key>
			<array>
				<dict>
					<key>fieldId</key>
					<string>INTEGER</string>
				</dict>
				<dict>
					<key>fieldName</key>
					<string> TEXT </string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>unreadMsgTable</key>
			<array>
				<dict>
					<key>msgId</key>
					<string>KEY</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>historyLocationsTable</key>
			<array>
				<dict>
					<key>latitude</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>longitude</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>address</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>timestamp</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>selectedAppTable</key>
			<array>
				<dict>
					<key>funId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>isAdd</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>videoPlayHistoryTable</key>
			<array>
				<dict>
					<key>videoId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>cover</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>videoTitle</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>playTime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
				<dict>
					<key>para1</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>para2</key>
					<string> TEXT </string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>unCompletedHomeworkTable</key>
			<array>
				<dict>
					<key>questionId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>studentId</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>content</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>myAppTable</key>
			<array>
				<dict>
					<key>appAuth</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appCapture</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>appLauncher</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appOpenFlag</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appVersion</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>app_sort</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appdesc</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>applogo</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>client_secret</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>clientid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>create_time</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>create_user</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>del_mark</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>id</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>is_online</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>link</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>sdepict</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>sort_no</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>usercount</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>viewrole</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>starttype</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>LONG</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>homeAndSchoolNoticeUnSendTable</key>
			<array>
				<dict>
					<key>groupIds</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>groupNames</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>content</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>picPaths</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>aduioPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>aduioDuration</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>saveTime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>homeAndSchoolHomeworkUnSendTable</key>
			<array>
				<dict>
					<key>groupIds</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>groupNames</key>
					<string> TEXT </string>
				</dict>
				<dict>
					<key>subjectid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>subjectname</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>content</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>picPaths</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>aduioPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>aduioDuration</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>saveTime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>messageReceiveSetTable</key>
			<array>
				<dict>
					<key>chatId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>installedInternalAppTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>appName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLogo</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appVersion</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appToken</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appCapture</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appAuth</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appIntroduce</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>openid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>lastDataId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>authorizationInfoTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>api_desc</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>api_id</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>api_name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>api_type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>app_id</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>is_default</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>installedAndAuthorizationAppTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>appName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLogo</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appVersion</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appToken</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appCapture</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appAuth</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appIntroduce</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>openid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userAutoLoginInfoTable</key>
			<array>
				<dict>
					<key>userName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>password</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userToken</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isAutoLogin</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userLoginReturnInfoTable</key>
			<array>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>orgin</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>avatar</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>token</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>replyName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>creditScore</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>creditScoreEndtime</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isSign</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isChat</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userChildrenInfoTable</key>
			<array>
				<dict>
					<key>childrenId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>childrenName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>parentId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>childrenpPhone</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>ChildrenSchool</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>remoteId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>className</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>cavatar</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>classId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>kindRed</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>modifyDate</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>schoolName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>sex</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>birthday</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>gradeid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>gradename</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>homeAndSchoolSendInfoTable</key>
			<array>
				<dict>
					<key>userIds</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userNames</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>classroomIds</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>classroomNames</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>groupTypeIds</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userGroupTypes</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>groupTypes</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>sendType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>subjectiveName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>subjectiveId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>installedInternalAppManageTable</key>
			<array>
				<dict>
					<key>ID</key>
					<string>INTEGER PRIMARY KEY AUTOINCREMENT</string>
				</dict>
				<dict>
					<key>appName</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLogo</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appVersion</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appToken</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appCapture</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appType</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appAuth</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appIntroduce</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherPath</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>appLauncherUrl</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>openid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>historyContactTable</key>
			<array>
				<dict>
					<key>groupId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>name</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>mid</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>remoteId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>role</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>dn</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>shortdn</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginType</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userOperationsTable</key>
			<array>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>userOpeations</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>number</key>
					<string>INTEGER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>userNewMsgTable</key>
			<array>
				<dict>
					<key>type</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>id</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>classId</key>
					<string>TEXT</string>
				</dict>
				<dict>
					<key>loginUserId</key>
					<string>TEXT</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
